@font-face {
  font-family: "iconfont"; /* Project id 4623296 */
  src: url('iconfont.woff2?t=1721142815458') format('woff2'),
       url('iconfont.woff?t=1721142815458') format('woff'),
       url('iconfont.ttf?t=1721142815458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhedie:before {
  content: "\e647";
}

.icon-zhedie-copy:before {
  content: "\e69d";
}

.icon-rizhi:before {
  content: "\e613";
}

.icon-geren:before {
  content: "\e60f";
}

.icon-quanxian:before {
  content: "\e69c";
}

.icon-info-1-copy:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e624";
}

.icon-zhuye:before {
  content: "\e655";
}

